In [5]:
"""
1. Modify the code below to count 'up' in increments of +2
"""
for word in range(100, 0, -10):
    print (word)

100
90
80
70
60
50
40
30
20
10

In [ ]:
"""
2. Change the code below to count down in increments of -2.0
"""
for word in range(100, 0, -1):
    print (word)

In [6]:
"""
3. Create a program that counts up from 0 to 100.  The program is to print "Hello" 
when the count is greater than 50 and print "World" when the count is less then or equal to 50
"""

'\n3. Create a program that counts up from 0 to 100.  The program is to print "Hello" \nwhen the count is greater than 50 and print "World" when the count is less then or equal to 50\n'

In [ ]:
"""
4. Create a function called char_cnt that takes in a string and outputs a dictionary where
each key represents a unique character and the value is the number of times that character
shows up in the string
"""

In [2]:
"""
5.  create a function called rev_list that takes a list as an input and reverses the elements 
of a that list, you must use a loop statement or sorts, and you cannot use .reverse() or [::-1] 
"""

'\n5.  create a function called rev_list that takes a list as an input and reverses the elements \nof a that list, you must use a loop statement or sorts, and you cannot use .reverse() or [::-1] \n'

In [11]:
"""
6. Using list comprehension (HINT: []) populate an array whose individual word 
character lengths are >= 5 (10 points)
"""
the_sentence = 'the student went above and beyond the call of duty on the homework'

In [10]:
"""
7. Fix the errors in the code below and replace the word dog with turtle
"""
import re
the_sentence = 'the orange cat jumped over the dog, but the orange cat landed on another orange cat'

my_ar = my_ar = re.subway('dog', 'turtle', len(the_sentenced))

AttributeError: module 're' has no attribute 'subway'

In [33]:
"""
8. Create a function called cln_txt that takes a list as an input, the
list will contain tokens, your job is to replace any special characters with
a no space, except '!', with ''
"""

the_ar = ['woah!!!','the','@student',' really^','# impressed','me,','and&','so','did','??you!!!']

'woah!!! the student really impressed me and so did you!!!'

In [9]:
"""
9. Create a program that loops 10 times and for each loop generate a random integer between 1 and 10, 
and print 'even' if the number is even and 'odd' if the number is odd (HINT: import random)
if the number is odd
"""
import random

In [ ]:
"""
10. Create a function called the_cat which can accept two input strings, the output
of the function will concatenate both string together, with a single space between and print
the total length of the resultant string
i.e. string_1 = "john", string_2 = "doe", function to output "john doe", 9
"""